.kalam-regular {
  font-family: 'Kalam', sans-serif;
  font-weight: 400;
  /* Regular 字重 */
}

.kalam-bold {
  font-family: 'Kalam', sans-serif;
  font-weight: 700;
}

.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.noto-sans-bold {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
}